# Generic pattern
*.bak
*.rej
*.orig
*~
*.swp
*.patch
*.tmp
*.img
*.bin

# Temporary files
test*.bat
adb-temp.txt
*.log
*.txt
*.jar

# Special files
mixer_paths_skul.xml

# picture files
*.png
*.jpg
*.bmp
*.gif
